// Paths
$images-path: '../images/';

// Colors
$white: #ffffff;
$gray: #eaeaea;
$text-color-dark: #39003d;
$text-color-light: $white;
$bg-color-primary: #ec004f;
$bg-color-light: $white;


// Badge sprite
$sprite-path: $images-path + 'badges_sprite.png';
$sprite-rows: 11;
$badge-width: 100px;
$badge-height: 100px;
$badge-data: (
  21: 66,
  11: 96,
  12: 75,
  1: 13,
  26: 1
);